<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>{% if user.authenticated %}
            Hello, {{ user.username }}
            {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <div>
            <h1>SignUp</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>
                    <a href="{% url "signup" %}">SignUp</a>
                </button>
            </form>
        </div>
    </main>
</body>
</html>
