<!DOCTYPE html>
<html>
  <head>
    <title>Tracker</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'create_task' %}">Create a new task</a></li>
        <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
        <li><a href="{% url 'list_projects' %}">My projects</a></li>
        <li><a href="{% url 'logout' %}">logout</a></li>
        <li><a href="{% url 'create_project' %}">Create a new project</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
</header>
    <main>
        <div>
        <h1>My Projects</h1>
        {% if not user.is_authenticated %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of tasks</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
            <tr>
              <td>
                <a href="{% url 'list_projects' %}">{{project.name}}</a>
              </td>
              <td><a href="{% url 'list_projects'  %}">{{ project.all|length }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
        </div>
    </main>
</body>
</html>
